<!DOCTYPE html>
<html>
<head>
  <title>เพิ่มบอท Google Sheet</title>
</head>
<body>
  <h1>เพิ่มบอท Google Sheet</h1>
  <form action="/google-sheet-bot/add-bot" method="POST">
    <label for="token">ใส่ TOKEN ของบอท:</label><br>
    <input type="text" name="token" id="token"><br><br>
    <button type="submit">เพิ่มบอท</button>
  </form>
  <a href="/google-sheet-bot">กลับ</a>
</body>
</html>